$sans-serif: Cabin, helvetica, arial, sans-serif;
$serif: century-supra-text, georgia, serif;

// Font collections
$headers-font-family: $sans-serif;
$titles-font-family: $serif;
$body-font-family: $serif;
$nav-font-family: $sans-serif;
$card-font-family: $sans-serif;


$label-font-size: 14px;
